<!DOCTYPE HTML>
<html lang="en-US">

<head>
<meta charset="UTF-8">
<!--NORTHY 12 BELGIAN QUAD (All Grain)-->
<title>MY FAVORITE BREWING RECIEPS</title>
</head>

<body>
<h1>MY FAVORITE BREWING RECIEPS</h1>
<h2>NORTHY 12 BELGIAN QUAD (All Grain)</h2>
<p>
<h2>Ingredients</h2>
MASH INGREDIENTS
<ul>
<li>9 lbs Belgian Pilsen malt</li>
<li>7 lbs Belgian Pale malt</li>
</ul>
BOIL ADDITIONS & TIMES
<ul>
<li>1oz Brewer’s Gold (60 min)</li>
<li>1oz Hallertau (30 min)</li>
<li>1oz Styrian Goldings (15 min)</li>
<li>2 lbs D-180 Candi Syrup (15 min)</li>
</ul>
LIQUID YEAST
<ul>
<li>Wyeast 3787 Trappist High Gravity. Optimum temperature: 64°-78°F</li>
</ul>
PRIMING SUGAR
<ul>
<li>5 oz Priming Sugar (Save for Bottling Day)</li>
</ul>
</p>
MASH SCHEDULE: SINGLE INFUSION
<ol>
<li>Sacch’ Rest: 149° F for 60 minutes</li>
<li>Mashout: 168°F for 10 minutes</li>
</ol>
BOIL ADDITIONS & TIMES
<ol>
<li>1 oz Brewer’s Gold (60 min)</li>
<li>1 oz Hallertau (30 min)</li>
<li>1 oz Styrian Goldings (15 min)</li>
<li>2 lbs D-180 Candi Syrup (15 min)</li>
</ol>

</body>
</html>
